@import '../../utils/variables';

.chat {
  background-color: $backgroundColor;

  display: grid;
  grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);

  height: 100vh;
  overflow: hidden;
}

.chat-header {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 12px 10px;

  border-bottom: 1px solid $gray;

  background-color: $lightGray;

  h2 {
    margin-left: 10px;
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: capitalize;

    white-space: nowrap;
    @media screen and (max-width: $mobile-screen) {
      font-size: 1.4rem;
    }
  }
}

.chat-footer {
  position: relative;
  min-height: 120px;
  background-color: $lightGray;

  display: flex;
  align-items: center;

  padding: 20px 40px;

  border-top: 1px solid $gray;

  &__input {
    position: relative;
    width: 100%;

    input {
      font-size: 1.4rem;
      color: $black;

      height: 60px;
      width: 100%;

      border-radius: 1.5rem;
      border: 1px solid $gray;

      padding: 0 20px;
      padding-right: 75px;

      &::placeholder {
        font-family: inherit;
        color: #afafaf;
        font-size: 1.25rem;
      }
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
  button {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0, -50%);

    padding-top: 4px;
    border: none;
    background-color: inherit;
  }

  &__icon {
    width: 24px;
    height: 24px;

    cursor: pointer;
    &:hover {
      scale: 1.1;
      opacity: 0.75;
    }
  }
}

.start-chat {
  &__container {
    @include centerDiv();
  }

  &__text {
    background-color: $lightGray;

    padding: 10px 16px 12px;
    border: 1.5px solid $gray;

    font-size: 1.1rem;
    border-radius: 1rem;
  }

  &__header {
    // padding: 12px 10px
    // avatar has 50px height and 6px margin
    height: calc(50px + 12px + 24px);
  }
}

.return-button {
  display: none;
  position: relative;

  height: 100%;
  width: 100%;

  img {
    @include alignVertically();
    right: 25px;

    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  @media screen and (max-width: $tablet-screen) {
    display: block;
  }
}
