@import '../../utils/variables';

.messaging-container {
  padding: 20px 15px;
  height: 100%;

  overflow: hidden;
  overflow-y: scroll;

  scrollbar-width: none;

  @media screen and (max-width: $mobile-screen) {
    padding: 15px 15px 5px;
  }
}

.messaging-outer {
  display: flex;
  flex-direction: column-reverse;
}

.messaging-container::-webkit-scrollbar {
  display: none;
}
