// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

// colors
$white: #ffffff;
$black: #000000;
$lightGray: #eeeeee9b;
$gray: rgb(216, 216, 216);

// rest of the vars
$backgroundColor: $white;
$textColor: $black;
$letterSpacing: 1px;

// fonts
$main-font: 'Roboto', sans-serif;
$small-text: 0.875rem;
$extra-small-text: 0.7em;

// border
$border-radius: 0.25rem;
$input-radius: 1.5rem;
// animations
$transition: 0.3s ease-in-out all;

// constant sizes

// media queries

// shadows
$shadow-1: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
$shadow-2: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
$shadow-3: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
$shadow-4: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;
