@import '../../utils/variables';

.avatar {
  @include avatarSize();
  
  position: relative;
  margin: 6px;

  background-color: $gray;

  &__person {
    @include avatarSize();
  }

  &__online {
    position: absolute;
    bottom: -4px;
    right: -5px;

    width: 18px;
    height: 18px;
  }
}
