@import '../../utils/variables';

.avatar {
  width: 50px;
  height: 50px;
  position: relative;

  margin: 6px;
  border-radius: 50%;

  background-color: $gray;

  &__person {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__online {
    position: absolute;
    bottom: -4px;
    right: -5px;

    width: 18px;
    height: 18px;
  }
}
