@import '../../utils/variables';

.contacts {
  border-right: 1px solid $gray;

  height: 100%;

  overflow-y: scroll;

  padding-bottom: 200px;
  scrollbar-width: none;
}

.contacts::-webkit-scrollbar {
  display: none;
}

.contacts-header {
  &__text {
    font-size: 1.8rem;
    font-weight: 300;
    color: #2eaec8;

    padding: 40px 20px;
  }
}

.contact {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto);
  column-gap: 10px;
  align-items: center;

  border-bottom: 1px solid $gray;

  padding: 20px 15px 25px;

  font-size: 1.1rem;

  cursor: pointer;

  &:hover {
    scale: 1.01;
    opacity: 0.8;
  }

  &__text-container {
    margin-left: 5px;
  }
  &__name {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    // font-family: 'Roboto', sans-serif;
  }

  &__last-message {
    word-wrap: break-word;
    width: 100%;
    color: #909090;
  }

  &__date {
    font-size: 0.95rem;
    display: flex;

    height: 70%;
    justify-content: flex-start;
    // align-items: flex-start;
  }
}
